_*{
    border: 1px solid red;
}

.car {
    .interior {
        display: flex;
        width: 38px;
        justify-content: space-evenly;

        .motor{
            height: 10px;
            width: 10px;
            background-color: gray;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .steering{
            display: flex;
            align-items: center;

            .h-line{
                height: 1px;
                width: 4px;
                background-color: black;
            }

            .v-line{
                height: 6px;
                width: 1px;
                background-color: black;
            }
        }

        .seat{
            display: flex;

            .seat-bottom{
                height: 3px;
                width: 7px;
                background-color: brown;
                align-self: flex-end;
            }

            .seat-back{
                height: 10px;
                width: 3px;
                background-color: brown;
            }
        }
    }

    .chassis{
        height: 2px;
        width: 40px;
        background-color: gray;
    }
    
    .wheels {
        display: flex;
        width: 40px;
        justify-content: space-between;
    
        .wheel {
            .tire{
                width: 10px;
                height: 10px;
                background-color: black;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                .rim{
                    width: 5px;
                    height: 5px;
                    background-color: rgb(133, 133, 133);
                    border-radius: 50%;  
                }
            }
        }
    }
}