@layer base {
    html {
        --bg-color: rgb(244, 236, 236);
        --color: white;
        --color-high: white;
        --color-low: rgb(181, 0, 0);
        --padding-x: 1rem;
        --padding-y: .25rem;

        font-family: 'Jersey_15', sans-serif;

        background-image: url('/view/images/fondo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        color: var(--color);
        @apply bg-cover bg-center bg-no-repeat text-white;
    }

    body {
        @apply m-0;
    }

    h1 {
        @apply font-['Jersey_15'] text-yellow-500 text-5xl drop-shadow-[3px_3px_0_black];
    }

    .post-footer {
        @apply flex justify-start items-center gap-1 mb-0 pb-0;
    }

    .logo2 {
        @apply w-40 h-40 mx-auto;
        /* Aumenta el tamaño si es necesario */
    }

    article {
        @apply max-w-full mx-auto my-4 p-4;
    }

    img {
        object-fit: cover;
    }

    .div1 {
        @apply flex relative justify-center -top-[50px] text-[1.8rem];
    }
}