@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

html {
    /* font-family: 'Major Mono Display'; */
    background-color: var(--bg-color);
    background-image: url("https://img.freepik.com/premium-photo/there-is-castle-sky-with-many-balloons-floating-around-it-generative-ai_1035763-29879.jpg?semt=ais_hybrid");
    color: var(--color);
    justify-content: center;
    align-items: center;
    /* padding: 40px;
    gap: 0.3rem; */

    --bg-color: #c99ddd;
    --color: black;
    --color-high: white;
    --color-low: #5900a7;
    /* --padding-x: 1rem;
    --padding-y: .25rem; */
}

div {
    background-color: rgba(255, 255, 255, 0.278);
    /* width: 80%;
    display: flex;
    flex-direction: column; */

}

/* h1 {
    align-items: center;
    justify-content: center;
} */

body {
    margin: .5rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

/* a {
    cursor: pointer;
    transition: font-size .2s;
} */
/* 
@media (min-width: 1024px) {
    a:hover {
        color: var(--color-high);
        font-size: 2rem;
    }
} */

button {
    background-color: var(--color-low);
    color: var(--bg-color);
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    align-items: "center";
    border-radius: 4px;

}

form {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    max-width: 300px;
    /* justify-content: center; */
    /* align-items: center; */

    /* .field {
        display: flex;
        flex-direction: column;
        gap: var(--padding-y);
    } */
}

/* input {
    background-color: var(--bg-color);
    color: var(--color);
    /* border-width: 2px;
    border-style: solid;
    border-color: var(--color); */
/* border: 2px solid var(--color);
outline: none;
font-family: inherit;
font-size: 1rem;
} */

/* */
/* input:focus {
    background-color: var(--bg-color);
    border-color: var(--color-high);
} */

/* input::placeholder {
    color: var(--color-low);
}  */

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    background-color: var(--bg-color);
    -webkit-text-fill-color: var(--color);
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset;
    transition: background-color 5000s ease-in-out 0s;
} */

.posts {
    padding-bottom: "100px";
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


article {
    width: 1000px;
    max-width: 90%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    /* justify-content: center;
    align-items: center; */




    /* h3,
    p,
    .post-footer {
        padding: var(--padding-y) var(--padding-x);
    } */

    img {
        /* width: 80rem; */
        min-width: 100%;
    }

    .post-underline {
        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: space-between;
        align-items: "center";


        p {
            margin: 0;
        }
    }
}


h1,
h2 {
    margin: 0;
    font-family: 'Major Mono Display'
}

/* main {
    margin: 3rem 0;
} */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-color);
    padding: var(--padding-y) var(--padding-x);
    box-sizing: border-box;
    height: 40px;
    left: 0px;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    /* width: calc(100% - 20px); */
    width: 100%;
    background-color: var(--bg-color);
    padding-inline: 2rem;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* padding: 40px; */
    gap: 1rem;
    width: 100%
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* padding: 40px; */
    gap: 1rem;
    width: 100%
}

.register-login {
    display: inline;
}

.like {
    background-color: transparent;
    color: black
}