.change-user-info-container {
  width: 65%;
  display: flex;
  justify-content: center;
  width: 100%;

  h3 {
    color: var(--bg-color);
    margin-top: 0;
  }
}

.change-user-info-block {
  padding: 2rem;
  background-color: var(--primary-color);
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    div {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      width: 100%;
    }
  }
}
