.hamburger-menu-container {
  background-color: var(--primary-color);
  position: fixed;
  top: 80px;
  right: 0px;
  box-sizing: border-box;
  padding: 1.5rem;

  div {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 20px;
    color: var(--bg-color);

    span:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
