@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');

html {
    background-image: url('https://imgs.search.brave.com/p5nNF0QC2l1lZJF-kr6eEENeuYjY2JC8WBBxnMGgbmI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvaG9n/d2FydHMtY2FzdGxl/LWF0LW5pZ2h0LWlz/YXJiYXRqNnRlb3J6/MTkuanBn');
    background-size: cover;
    /* Hace que la imagen cubra toda la pantalla */
    background-position: center center;
    /* Centra la imagen */
    background-attachment: fixed;
    font-family: "Euphoria Script", serif;
    background-color: var(--bg-color);
    color: var(--color);

    --bg-color: rgb(201, 195, 195);
    --color: rgb(253, 255, 120);
    --color-high: rgb(255, 145, 0);
    --color-low: rgb(201, 191, 55);
    --color-contrast: rgb(255, 123, 0);
    --padding-x: 1rem;
    --padding-y: .25rem;

    font-size: 1.5rem;
}

body {
    margin: 0;
}

a {
    cursor: pointer;
    transition: font-size .2s;
    color: var(--color-contrast);

}


@media (min-width: 1024px) {
    a:hover {
        color: var(--color);


    }
}


button {
    background-color: var(--color);
    color: var(--color-contrast);
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .field {
        display: flex;
        flex-direction: column;
        gap: var(--padding-y)
    }

}

input {

    background-color: var(--bg-color);
    color: var(--color);
    border: 2px solid var(--color);
    outline: none;
    font-family: inherit;
    font-size: 1rem;
}

input:focus {
    background-color: var(--bg-color);
    border-color: var(--color-high);
}

input::placeholder {
    color: var(--color-low);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    background-color: var(--bg-color);
    -webkit-text-fill-color: var(--color);
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset;
    transition: background-color 5000s ease-in-out 0s;
}

article {
    background-color: rgb(99, 99, 99);

    h3,
    p,
    .post-footer {
        padding: var(--padding-y) var(--padding-x);
        margin: 0.25rem;
    }

    img {
        width: 100%;
    }

    .post-footer {
        display: flex;
        justify-content: space-between;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    /* width: calc(100% - 20px); */
    width: 100%;
    background-color: var(--bg-color);
    padding: var(--padding-y) var(--padding-x);
    box-sizing: border-box;
}

h1,

h2 {
    margin: 0;
}

main {
    margin: 3rem 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    padding: var(--padding-y) var(--padding-x);
    box-sizing: border-box;
}

.landing {
    justify-self: center;
}


.logo {
    width: 120px;
    /* Tamaño pequeño */
    height: 120px;
    background-image: url('https://gimgs2.nohat.cc/thumb/f/350/hogwarts-logo-by-shadopro-on-deviantart--comdlpng6952102.jpg');
    background-size: contain;
    /* Ajusta la imagen sin recortar */
    background-repeat: no-repeat;
    /* Para que no se repita */


}