.post {
    margin: 3rem 3rem;

    img {
        width: 100%;
    }

    h3, p, .post-footer {
        padding: 1rem var(--pading-x);
    }

    .headerPost {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .profileUserClick{
            cursor: pointer;
        }
        .buttonConfig {
            background-color: var(--bg-color2);
            color: black;
            border: 0;
            display: flex;
            width: 20px;
            height: 50%;
            cursor: pointer;
            font-family: inherit;
            font-size: 1rem;
        }
    }

    .post-footer {
        
            display: flex;
            flex-direction: row; /* ✅ elementos en fila */
            align-items: center; /* ✅ alineación vertical centrada */
            justify-content: flex-start; /* ✅ alineados a la izquierda */
            gap: 1rem; /* espacio entre los elementos */
            flex-wrap: wrap; /* por si en móviles no cabe todo en una línea */
      
        

        .post-date,
        .showComments,
        button {
            margin-right: 1rem;
        }

        .showComments {
            background-color: var(--bg-color2);
            color: white;
            border: 0;
            cursor: pointer;
            font-size: 1rem;
            font-family: inherit; /* Para que herede la fuente del html */
        }

        .comentBox,
        .commentsList {
            display: none; /* oculta por defecto */
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 1rem 0;
        }

        .comentBox textarea {
            width: 100%;
            max-width: 500px;
            resize: none;
        }

        .comentBox button {
            margin-top: 0.5rem;
        }

        .commentsList .comment {
            width: 100%;
            max-width: 500px;
            padding: 0.5rem;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }

        
    }

    .comment {
        display: flex;
        align-items: center;

        width: 100%;
        padding: 0.5rem;
    }
    
    .comment p {
        flex-grow: 1; /* Hace que el texto ocupe el espacio disponible */
        margin-right: 10px; /* Espacio entre el texto y el botón */
    }
    
    .delete-comment {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
    }
    
}