.Homepage {
    header {
        background-color: hsl(46, 100%, 50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        padding: var(--padding-y) var(--padding-x);
        box-sizing: border-box;
    }
    
    h1, h2 {
        margin: 0;
    }
    
    .bee-logo {
        width: 50px;
        height: auto;
    }
    
    main {
        margin: 3.5rem 0;
    }
    
    footer {
        background-color:  hsl(46, 100%, 50%);
        position: fixed;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        padding: var(--padding-y) var(--padding-x);
        box-sizing: border-box;
    }

}
